name: Workflow for Codecov
on: [push, pull_request]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up JDK 18
        uses: actions/setup-java@v1
        with:
          java-version: 18
      - name: Run spotless
        run: ./gradlew :spotlessApply
      - name: Install dependencies, run tests, and collect coverage
        run: gradle build
      - name: Codeball AI Code Review
        uses: sturdy-dev/codeball-action@v2.6.0
